<!DOCTYPE html>
<html>
  <head>
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= category.name %></h1>

      <h2>Items in this Category</h2>
      <% if (items.length > 0) { %>
      <ul>
        <% items.forEach(item => { %>
        <li>
          <%= item.name %> - Qty: <%= item.quantity %>, $<%= item.price %>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No items in this category.</p>
      <% } %>

      <a href="/categories/<%= category.id %>/edit">Edit Category</a>
      <a href="/categories">Back to all categories</a>
      <form
        class="delete-form"
        action="/categories/<%= category.id %>/delete"
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete this category?');"
      >
        <button type="submit">Delete Category</button>
      </form>
    </div>
  </body>
</html>
