<!DOCTYPE html>
<html>
  <head>
    <title>Items</title>
  </head>
  <body>
    <h1>All Items</h1>

    <ul>
      <% items.forEach(item => { %>
      <li>
        <%= item.name %> — Qty: <%= item.quantity %>, $<%= item.price %> —
        Category: <%= item.category_name %>
        <a href="/items/<%= item.id %>">View Details</a>
      </li>

      <% }) %>
    </ul>
    <a href="/items/new">Create New Item</a>
    <a href="/">Back to Homepage</a>
  </body>
</html>
